<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>
    <style>
        :root {
            --screendoor-img: url({{asset "images/screen-tile.png" }});
        }
    </style>

    {{> "css/fonts"}}

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}} bg-plastic-beige font-sans">
<div class="flex flex-row w-screen">

<header class="min-w-56 max-w-56 h-screen border-r-3 br-black fixed bg-beige">
    <nav class="flex flex-col">

        <div class="bg-black pt-12 pb-12">
            <a class="" href="{{@site.url}}">
                {{#if @site.icon}}
                    <div class="bg-black p-[4px] rounded-[32px] brightness-105 mx-12 mb-2">
                        <img src="{{@site.icon}}" alt="{{@site.title}}" class="width-full screendoor rounded-[28px]" />
                    </div>
                {{else}}
                    {{@site.title}}
                {{/if}}
            </a>
        </div>
        {{> "deco/grille"}}
        <div class="">
            {{navigation}}
        </div>
        <div class="p-6 mt-auto">

                {{#if @site.members_enabled}}
                    {{^if @member}}
                    <a class="btn-menu bg-plastic-orange text-plastic-beige border-black border-3" href="{{@site.signup_url}}">Subscribe</a>
                    {{else}}
                    <a class="btn-menu bg-plastic-orange text-plastic-beige border-black border-3" href="#/portal/account">Account</a>
                    {{/if}}
                {{/if}}
        </div>
    </nav>
</header>

<main class="pl-56">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

{{!-- <footer class="">
    <div class="gh-container">
        <div class="gh-foot-menu">
            {{navigation type="secondary"}}
        </div>
        <div class="gh-foot-meta">
            Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </div>
    </div>
</footer> --}}

</div>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
